{% extends 'base.html' %}
{% load static %}

{% block title %}Borrowed Books{% endblock %}
{% block content %}
    <h2>Borrowed Books</h2>
    
    <ul>
        {% for book in borrowed_books %}
            <li>
                {{ book.book_name }} - Borrowed on {{ book.borrow_date|date:"F j, Y, g:i a" }}
                <a href="{% url 'return_book' book.id %}" class="btn-return">Return</a>
            </li>
        {% empty %}
            <li>No books borrowed.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}">Back to Library</a>
{% endblock %}
