{% extends 'base.html' %}
{% load static %}
{% block title %}Delete{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book - Library Management</title>
    <link rel="stylesheet" href="{% static 'dlt.css' %}">
    <script>
        document.getElementById('deleteButton').addEventListener('click', function() {
    var userConfirmed = confirm('Are you sure you want to delete this item?');
    if (userConfirmed) {
        // Proceed with deletion
        console.log('Item deleted.');
        return true;
        // Here you can add your deletion logic
    } else {
        // Do nothing
        console.log('Deletion cancelled.');
        return false;
    }
});
    </script>
</head>
<body>
    <div class="form-container">
        <h1>Delete Book</h1>
        <form method="post"  onsubmit="return confirmDelete(event)">
            {% csrf_token %}
            <button type="submit" id="deleteButton">Delete Book</button>
            <a href="{% url 'home' %}" class="button">Cancel</a>
        </form>
    </div>
</body>

   

</html>
{% endblock %}
