
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management - Books</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <nav class="navbar">
            <h1><center>LIBRARY BOOKS</center></h1>
          
             <!-- Link to navigate to User Dashboard -->
             <a href="{% url 'user_dashboard' %}">My Dashboard</a>
            <a href="{% url 'login' %}" class="btn-logout">Logout</a>
               
        </nav>
    </body>
</head>
<body>

    <div class="search-bar">
        <form method="GET" action="{% url 'home' %}">
            <select name="filter_by">
                <option value="book_name" {% if request.GET.filter_by == 'book_name' %}selected{% endif %}>Book Name</option>
                <option value="author" {% if request.GET.filter_by == 'author' %}selected{% endif %}>Author</option>
                <option value="departname" {% if request.GET.filter_by == 'departname' %}selected{% endif %}>Department</option>
            </select>
            <input type="text" name="q" placeholder="Search books..." value="{{ request.GET.q }}">

            <button type="submit">Search</button>
        </form>
    </div>
    
    
    
    <h2>Technical Books</h2>
    <div class="card-container">
        {% for book in technical_books %}
        <div class="card">
            <img src="http://127.0.0.1:8000/media/{{ book.image_url }}" alt="Book Image">
            <div class="card-content">
                <h2>{{ book.book_name }}</h2>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Department:</strong> {{ book.departname }}</p>
                <p><strong>Edition:</strong> {{ book.edition }}</p>
                <p><strong>Available:</strong> {{ book.book_available }}</p>
                <a href="{% url 'borrow_book' book.id 'technical' %}" class="btn-borrow">Borrow</a>
                
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>General Books</h2>
    <div class="card-container">
        {% for book in general_books %}
        <div class="card">
            <img src="http://127.0.0.1:8000/media/{{ book.image_url }}" alt="Book Image">
            <div class="card-content">
                <h2>{{ book.book_name }}</h2>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Category:</strong> {{ book.category }}</p>
                <p><strong>Available:</strong> {{ book.book_available }}</p>
                
               
            </div>
        </div>
        {% endfor %}
    </div>

    
</body>


</html>


